html {
   background-image: url('../img/FUNDO.png');
   background-size: cover;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
}

h2, footer {
    font-family: 'Mansalva';
}

button {
    border: none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px blue;
}

.inputs {
    display: flex;
    gap: 0.5rem;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

.teste-fundo {
    padding: 4rem ;
    width: 40rem;
    height: 23rem;
    margin: 0 auto;
  

    
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

