html {
   background-image: url('../img/FUNDO.png');
   background-size: cover;
}

body {
    font-family: 'Mansalva';
}
main {
    display: flex;
    flex-direction: row;
    
}
h2 {
    color: white;
}

button {
    border: none;
    background-color: #7E53FF;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    color: white;
}

.itens-comprados {
    text-decoration: line-through;
}

.borda-lista {
    border-bottom:solid 2px RGBA( 138, 43, 226, 0.4 );
}

.inputs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.inputs input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px RGBA( 138, 43, 226, 0.4 );
    border-radius: 0;
    
}
.inputs input::placeholder{
    color: white;
    font-size: 1.4rem;
    font-family: 'Mansalva';
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

.listas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 5rem auto 0 auto;
    gap: 3rem;
    width: 40rem;
}
.listas div {
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
}
.natal {
    background-image: url('../img/natal.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ano-novo {
    background-image: url('../img/ano-novo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.feijoada {
    background-image: url('../img/feijoada.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
.churrasco {
    background-image: url('../img/churras.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
.lasanha {
    background-image: url('../img/lasanha.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
.strog {
    background-image: url('../img/strog.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

.listas div h1 {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5rem;
}

.teste-fundo {
    padding: 4rem 3rem ;
    margin: 5rem auto;
    width: 40rem;
 
    
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 0 10px 0 rgba(65, 52, 73, 0.37);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



