html {
   background-image: url('../img/FUNDO.png');
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
}

h2, footer {
    font-family: 'Mansalva';
}

button {
    border: none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px blue;
}

.inputs {
    display: flex;
    gap: 0.5rem;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

